@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

/* shared style */
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

body,
footer{
    max-width: 1440px;
    margin: 0 auto;
}

header,
main{
    max-width: 1160px;
    margin: 0 auto;
}

/* header section related style */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 62px;
    height: 62px;
}

.logo-name{
    color: #111111;
    font-size: 2rem;
    font-weight: 700;
}

#menu-icon{
    display: none;
    font-size: 25px;
    color: #111111;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.nav-link a{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: var(--font-weight);
}

.contact-btn{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}

/* hero section related style */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero-contant{
    width: calc(60% - 50px);
}

.hero-contant .heading{
    color: #111111;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero-contant .heading .orange{
    color: #FEA301;
}
.hero-contant .heading .sky-blue{
    color: #01ACFD;
}

.desc{
    color: #111111;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.hero-btn{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #111111;
    border: none;
    border-radius: 12px;
    padding: 10px 48px;
}

.hero-img{
    width: 40%;
}

.hero-img img{
    width: 100%;
}

/* curriculum section related style */

/* stories section related style*/

/* footer section related style */

/* media query for mobile device */

@media screen and (max-width: 576px) {
    .nav-list,
    .contact-btn,
    .logo-name{
        display: none;
    }

    header{
        margin: 20px 16px;
    }

    #menu-icon{
        display: block;
    }

    .logo-img{
        width: 46px;
        height: 46px;
    }

    #hero{
        flex-direction: column-reverse;;
        text-align: center;
        margin: 16px;
        gap: 0;
        margin-bottom: 50px;
    }

    .hero-contant{
        width: 100%;
    }

    .hero-contant .heading{
        font-size: 2rem;
        margin-bottom: 18px;
    }
    .desc{
        font-size: 0.9rem;
        margin-bottom: 18px;
    }

    .hero-img{
        width: 100%;
        margin: 20px 10px;
    }

    .hero-btn{
        font-size: 1rem;
        padding: 10px 24px;
    }
}